body {
	background-image: url(../img/bg_1.jpg);
	background-repeat: repeat;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
}
.header {
	height: 50px;
	// background-color: aquamarine;
	.container {
		background-color: #1d60c6;
		h1 {
			text-transform: uppercase;
		}
	}
}
.main {
	// background-color: aqua;
	min-height: calc(100vh - 100px);
	.container {
		min-height: calc(100vh - 100px);
	}
}
.footer {
	height: 50px;
	// line-height: 50px;
	// background-color: bisque;
	.container {
		background-color: #393939;
		color: white;
	}
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 2px;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 1px;
}
.container {
	max-width: 1200px;
	margin: auto;
	background-color: azure;
	padding: 5px;
}
.calculator {
	border-radius: 5px;
	border-style: solid;
	border-color: #33d7f5;
	border-width: 2px;
	padding: 5px;
	width: 320px;
	margin: 10px;
	height: max-content;
	h3 {
		line-height: 24px;
		margin-bottom: 10px;
	}
	input {
		display: block;
		margin-bottom: 5px;
	}
	label {
		display: block;
		margin-bottom: 5px;
	}
}
.section_calc {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 20px;
	justify-content: center;
}
.parCalc {
	margin-bottom: 5px;
	font-style: italic;
	font-weight: 700;
}
.developer__link {
	text-decoration: none;
	line-height: 30px;
	color: antiquewhite;
}
.kpdUPS {
	margin-bottom: 5px;
}
.butCalc {
	display: block;
	width: 180px;
	height: 34px;
	margin: 0 auto;
}
.calcPair {
	margin-bottom: 20px;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	border-color: #39393946;
}
